@font-face {
	font-family: 'MyriadPro';
	src: url('../MyriadPro/MyriadPro-Regular.eot');
	src: local('☺'), url('../MyriadPro/MyriadPro-Regular.woff') format('woff'), url('../MyriadPro/MyriadPro-Regular.ttf') format('truetype'), url('../MyriadPro/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../PTSerif/PTF55F.eot');
	src: local('☺'), url('../PTSerif/PTF55F.woff') format('woff'), url('../PTSerif/PTF55F.ttf') format('truetype'), url('../PTSerif/PTF55F.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SamsungOne';
	src: url('../SamsungOne/SamsungOne-400.eot');
	src: local('☺'), url('../SamsungOne/SamsungOne-400.woff') format('woff'), url('../SamsungOne/SamsungOne-400.ttf') format('truetype'), url('../SamsungOne/SamsungOne-400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SamsungOne';
	src: url('../SamsungOne/SamsungOne-700.eot');
	src: local('☺'), url('../SamsungOne/SamsungOne-700.otf') format('woff'), url('../SamsungOne/SamsungOne-700.ttf') format('truetype'), url('../SamsungOne/SamsungOne-700.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Samsung Sharp Sans';
	src: url('../SamsungSharpSans/samsungsharpsans.eot');
	src: local('☺'), url('../SamsungSharpSans/samsungsharpsans.woff') format('woff'), url('../SamsungSharpSans/samsungsharpsans.ttf') format('truetype'), url('../SamsungSharpSans/samsungsharpsans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Samsung Sharp Sans';
	src: url('../SamsungSharpSans/SamsungSharpSans-Bold.otf');
	src: local('☺'), url('../SamsungSharpSans/SamsungSharpSans-Bold.woff') format('woff'), url('../SamsungSharpSans/SamsungSharpSans-Bold.ttf') format('truetype'), url('../SamsungSharpSans/SamsungSharpSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Samsung Sharp Sans';
	src: url('../SamsungSharpSans/samsungsharpsans-medium.eot');
	src: local('☺'), url('../SamsungSharpSans/samsungsharpsans-medium.woff') format('woff'), url('../SamsungSharpSans/samsungsharpsans-medium.ttf') format('truetype'), url('../SamsungSharpSans/samsungsharpsans-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
